
	<div class="adduser-page" >
		<div class=modal-content>
			<div class="modal-header alert-success">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="cancel()"><span aria-hidden=true>&times;</span></button>
				<div data-ng-show="user.id">
					<h3 class="modal-title">Edit User</h3>
				</div>
				<div data-ng-show="!user.id">
					<h3 class="modal-title">Add New User</h3>
				</div>
			</div>
			
			<div class="modal-body">
				<form name="form.userForm" data-ng-submit="addUserInfo()" data-ng-init="fillRoleList()" autocomplete="off"  novalidate>
					<!-- FIRST NAME -->
					<div class="form-group">
						<label><span class="required">*</span>First Name</label>
						<input type="text" placeholder="First Name" name="firstName" class="form-control" data-ng-model="user.firstName" data-ng-minlength="1" data-text-maxlength="50"  data-letters-only="letters-only" required>
						<p data-ng-show="form.userForm.firstName.$invalid && !form.userForm.firstName.$pristine" class="help-block">First Name is required.</p>
						<p data-ng-show="form.userForm.firstName.$error.minlength" class="help-block">First Name is too short.</p>
						<p data-ng-show="form.userForm.firstName.$error.maxlength" class="help-block">First Name is too long.</p>
					</div>

					<!-- LAST NAME -->
					<div class="form-group">
						<label><span class="required">*</span>Last Name</label>
						<input type="text" placeholder="Last Name" name="lastName" class="form-control" data-ng-model="user.lastName" data-ng-minlength="1" data-text-maxlength="50"  data-letters-only="letters-only" required>
						<p data-ng-show="form.userForm.lastName.$invalid && !form.userForm.lastName.$pristine" class="help-block">Last Name is required.</p>
						<p data-ng-show="form.userForm.lastName.$error.minlength" class="help-block">Last Name is too short.</p>
						<p data-ng-show="form.userForm.lastName.$error.maxlength" class="help-block">Last Name is too long.</p>
					</div>

					<!-- EMAIL -->
					<div class="form-group">
						<label><span class="required">*</span>Email Address</label>
						<input type="email" placeholder="Email Address" name="email" class="form-control" data-ng-model="user.email" data-ng-disabled="user.id > 0" data-ng-minlength="1" data-ng-unique="ng-unique" data-text-maxlength="255" lowercase data-email-address="email-address"  data-ng-pattern="/^[a-z]+[a-z0-9._+-]+[a-z0-9]+@[a-z]+\.[a-z.]{2,5}$/" data-lower-case="lower-case" required>
						<p data-ng-show="form.userForm.email.$error.unique" class="help-block">Email Address already exist.</p>
						<p data-ng-show="!form.userForm.email.$error.unique && form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
						<p data-ng-show="form.userForm.email.$error.minlength" class="help-block">Email Address is too short.</p>
						<p data-ng-show="form.userForm.email.$error.maxlength" class="help-block">Email Address is too long.</p>
						
						
					</div>
					
					<!-- Phone Number -->
					<div class="form-group">
						<label>Phone Number</label>
						
						<input type="text" placeholder="Phone Number" name="phoneNumber" class="form-control" data-ng-model="user.phoneNumber"  phone-input data-ng-digit="ng-digit" >
						<p data-ng-show="form.userForm.phoneNumber.$error.digit" class="help-block">Phone Number should be 10 digits.</p>
						
					</div>
					
					<!-- Role -->
					<div class="form-group">
						<label><span class="required">*</span>Role</label>
					   <select name="role" class="form-control"
						data-ng-model="user.role" data-ng-options="role as role.roleName for role in roleList track by role.id" required>
						<option value="" label="Select Role">Select Role</option>
						</select>
						<p data-ng-show="form.field.$touched && form.field.$invalid">Error</p>						
						<p data-ng-show="register.RoleData.$invalid && (register.RoleData.$touched || !register.RoleData.$pristine)" id="RoleData">Role is required.</p>
						<p class="help-block" data-ng-show="form.userForm.role.$invalid && !form.userForm.role.$pristine">Select Role.</p>
					</div>
					
					<div data-ng-show="user.id">
						<button type="submit" class="btn btn-success" data-ng-disabled="!form.userForm.$dirty || form.userForm.$invalid" >Update</button>
						<button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
					</div>
					
					<div data-ng-show="!user.id">
						<button type="submit" class="btn btn-success" data-ng-disabled="form.userForm.$invalid">Save</button>
						<button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
					</div>
					
					
					
					
					
				</form>
			</div>
		</div>
	</div>
