 <div class="dashboardPanel">
	<div data-ng-include="'partials/navbar.html'"></div>
	<div class="wrapper" data-ng-class="myClass">
		<div data-ng-include="'partials/sidebar.html'"></div>
		<div class="page-content-wrapper">
			<ul class="breadcrumb_nav">
				<li><a href="#/home">Home</a></li>
				<li>Contact Management</li>
				<li>Upload Contacts</li>
			</ul>
		    <h2 class="page-title"><i class="fa fa-upload" aria-hidden="true"></i> Upload Contacts</h2>		    
			<div class="upload-contacts">				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="alert alert-info">
									<span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> 
									<a download="contact-list-template" data-ng-click="downloadTemplate()" 
									style="cursor:pointer;">Click Here</a> to Download Default Template
								</div>
								<div class="configuration">	
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" name="form.uploadForm">
												<div class="form-group">
													<label class="col-md-2 control-label" for="">Contact List Name:</label>
						                            <div class="col-md-3">
														<input id="templateName" type="text" class="form-control" 
														data-ng-model="templateName" name="templateName" data-ng-contactlistunique="ng-contactlistunique" required="required"/>
														<p data-ng-show="form.uploadForm.templateName.$error.unique" class="help-block">Contact List Name already exist.</p>
													</div>	
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label" for="">File to Upload:</label>
						                        	<div class="col-md-6">
														<input id="templateName" type="file"  data-file-model="myFile" 
							                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
							                            required="required" onchange="checkfile(this);" style="border: 0px;"/>
													</div>	
												</div>
												<div class="text-left">
													<button class="btn btn-success" data-ng-click="uploadcontact()">Upload</button>
													<button class="btn btn-danger" data-ng-click="redirectToHomePage()">Cancel</button>									
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="alert alert-danger">
								Note: Maximum Upload Records 5000 Only.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="copyright-text navbar-fixed-bottom">Copyright @ <a href="https://www.sensiple.com/" target="_blank">www.sensiple.com</a>. All Rights Reserved.</div>
				</div>
			</footer>
		</div>
	</div>
</div>
           
<script type="text/javascript" language="javascript">
function checkfile(sender) {
    var validExts = new Array(".xlsx", ".xls", ".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
      alert("Invalid file selected, valid files are of " +
               validExts.toString() + " types.");

        angular.forEach(
    		    angular.element("input[type='file']"),
    		    function(inputElem) {
    		      angular.element(inputElem).val(null);
    		    });
     
       return false;
    }
    else return true;
}
</script>
