<div class="dashboardPanel">
<!-- navbar -->
<div data-ng-include="'partials/navbar.html'"></div>
<div class="wrapper" data-ng-class="myClass">
<!-- Sidebar -->
<div data-ng-include="'partials/sidebar.html'"></div>
<!-- Page Content -->
<div class="page-content-wrapper">
	<ul class="breadcrumb_nav">
		<li><a href="#/home">Home</a></li>
		<li>Contact Management</li>
		<li>Manage Contacts</li>
	</ul>
    <h2 class="page-title"><i class="fa fa-book" aria-hidden="true"></i> Manage Contacts</h2>
		<div class="manage-contacts">
				
				<div class="alert alert-success" data-ng-show="messages">
				<button type="button" class="close" data-ng-click="switchMessage('messages')">x</button>{{messages}}
				</div>
		
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="configuration">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="row">
										
										<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Contacts List Name</label>
														<div class="col-md-6">
														  <input type="text" class="form-control" data-ng-model="searchContact.contactListName" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Country</label>
														<div class="col-md-6" data-ng-init="fillCountryList()">
															<select name="country" class="form-control" 
															data-ng-model="searchContact.country" data-ng-options="country.countryName for country in countryList" data-ng-change="countryChange(searchContact.country)" >
															<option value="" label="Select Country">Select Country</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Revenue</label>
														<div class="col-md-6" data-ng-init="fillRevenues()">
															<select name="revenue" class="form-control" 
															data-ng-model="searchContact.revenue" data-ng-options="revenue.revenueName for revenue in revenueList" >
															<option value="" label="Select Revenue">Select Revenue</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Company Size</label>
														<div class="col-md-6" data-ng-init="fillCompanySizes()">
															<select name="companySize" class="form-control" 
															data-ng-model="searchContact.companySize" data-ng-options="companySize.companySizeName for companySize in companySizesList"  >
															<option value="" label="Select Company Size">Select Company Size</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Campaign Name</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.campaign" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">State</label>
														<div class="col-md-6">
															<select name="state" class="form-control"
															data-ng-model="searchContact.state" data-ng-options="state.stateName for state in stateList" >
															<option value="" label="Select State">Select State</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Industry</label>
														<div class="col-md-6" data-ng-init="fillIndustries()">
															<select name="industry" class="form-control" 
															data-ng-model="searchContact.industry" data-ng-options="industry.industryName for industry in industryDetailsList"  data-ng-change="IndustryChange(searchContact.industry)">
															<option value="" label="Select Industry">Select Industry</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Contact Status</label>
														<div class="col-md-6" data-ng-init="fillContactStatus()">
															<select name="contactStatus" class="form-control" 
															data-ng-model="searchContact.contactStatus" data-ng-options="contactStatus.status for contactStatus in contactStatuslist"  >
															<option value="" label="Select Contact Status">Select Contact Status</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Job Function</label>
														<div class="col-md-6" data-ng-init="fillJobFunctions()">
															<select name="jobFunction" class="form-control" 
															data-ng-model="searchContact.jobFunction" data-ng-options="jobFunction.jobFunctionName for jobFunction in jobFunctionList"  >
															<option value="" label="Select Function">Select Function</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">SIC Code</label>
														<div class="col-md-6">
															<select name="sicCode" class="form-control"
															data-ng-model="searchContact.sicCode" data-ng-options="sicCode.sicCodeName for sicCode in sicCodeList" >
															<option value="" label="Select SIC Code">Select SIC Code</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										<div class="advanced-search-btn pull-right" data-ng-click="advancedsearchtoggle = !advancedsearchtoggle"><i class="fa fa-plus" aria-hidden="true" data-ng-class="{'glyphicon-minus' : item.expanded, 'glyphicon-plus' : !item.expanded}" ></i> Advanced Search</div>
												<div class="clear"></div>
										
										
										<div class="advanced-search" data-ng-show="advancedsearchtoggle">
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Contacts for Service Offering</label>
														<div class="col-md-6">
														  <input type="text" class="form-control" wm-block wm-block-length="99" contactserviceautocomplete  data-ng-model="searchContact.contactServiceOffer" />
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Company</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.company" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Email ID</label>
														<div class="col-md-6">
														  <input type="email" data-ng-model="searchContact.contactEmailId" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Phone Number</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.phoneNumber" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Contact Added By</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.contactAddedBy"  class="form-control" id="" placeholder="">
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Company Email Id</label>
														<div class="col-md-6">
														  <input type="email" data-ng-model="searchContact.companyEmailId" class="form-control" id="" placeholder="">
														  
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Contact Source</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.contactSource"  class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">First Name</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.firstName"  class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Mobile</label>
														<div class="col-md-6">
														  <input type="text"  data-ng-model="searchContact.mobile" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label" for="">Contact Added Date</label>
														<div class="col-md-6">														   
														   <md-datepicker data-ng-model="searchContact.contactAddedDate" md-placeholder="Enter date"></md-datepicker>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Zip</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.zipcode"  class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Website</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.website"  class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Last Name</label>
														<div class="col-md-6">
														  <input type="text" data-ng-model="searchContact.lastName"  class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Job Title</label>
														<div class="col-md-6" data-ng-init="fillJobTitles()">
															<select name="searchContact.jobTitle" class="form-control" 
															data-ng-model="jobTitle" data-ng-options="jobTitle.jobTitleName for jobTitle in jobTitleList"  >
															<option value="" label="Select Job Title">Select Job Title</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label" for="">Contact Last Updated</label>
														<div class="col-md-6">
														 <md-datepicker data-ng-model="searchContact.contactUpdateDate" md-placeholder="Enter date"></md-datepicker>
														</div>
													</div>
												</div>
											</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button class="btn btn-info" data-ng-click="pageChanged()">Search</button>	
									<button class="btn btn-warning" data-ng-click="resetContact()">Reset</button>
								</div>
								<div class="alert alert-success" data-ng-show="false">
									<span>The number of contacts for this Search are <strong>xyz.</strong> <a href="#">Click Here</a> to View Contact List.</span>
								</div>
								<h4 class="panel-title-campaign">Contact List</h4>
								<span class="panel-title-campaign">Total Number of Contacts: <span class="badge">{{total}}</span></span>
									<div class="pull-right  contact-list-btn" data-ng-hide="isManager">
										<a href="#/addContact"><button class="btn btn-success" >Add Contacts</button></a>	
										<button class="btn btn-danger" data-ng-click="deleteContact($event)">Delete Contacts</button>		
									</div>
									<div class="clear"></div>
								<div class="pull-right">
									<pagination total-items="total" ng-model="currentPage" ng-change="pageChanged()" items-per-page="10"></pagination>
								</div>
								<div class="clear"></div>
								<div class="table-responsive contact-list-table">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th><input type="checkbox" data-ng-model="checkAllStatus" data-ng-change="checkAll()"></th>
											<th>Email ID</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Company</th>
											<th>Job Title</th>
											<th>Source</th>
											<!-- <th>Country</th>
											<th>State</th>
											<th>City</th>
											<th>Industry</th> -->
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-show="contactsList.length == 0">
											<td class="text-center" colspan="7">No records Found</td>
										</tr>

												<tr data-ng-repeat="contact in contactsList">
													<td><input type="checkbox" data-ng-model="contact.checkedStatus" ></td>
													<td>{{contact.contactEmailId}}</td>
													<td>{{contact.firstName}}</td>
													<td>{{contact.lastName}}</td>
													<td>{{contact.companyDetails.companyName}}</td>
													<td>{{contact.jobTitle}}</td>
													<td>{{contact.contactSource}}</td>
													<!-- <td>{{contact.companyDetails.addressDetails[0].country.countryName}}</td>
													<td>{{contact.companyDetails.addressDetails[0].state.stateName}}</td>
													<td>{{contact.companyDetails.addressDetails[0].city}}</td>
													<td>{{contact.companyDetails.industry}}</td> -->
													<td>
														<a href="#/viewContact/{{contact.contactId}}"><button type=button class="btn btn-primary btn-xs" title="View"><i class="fa fa-eye" aria-hidden="true"></i></button></a> 
														<button type=button class="btn btn-info btn-xs" title="Edit" data-ng-hide="isManager" data-ng-click="showEditContactForm(contact.contactId)"><i class="fa fa-pencil" aria-hidden="true" ></i></button> 
														<!-- <button type=button class="btn btn-danger btn-xs" title="Delete" data-ng-hide="isManager" data-ng-click="showConfirm($event,contact)"><i class="fa fa-times" aria-hidden="true"></i> </button> -->
													</td>
												</tr>
									</tbody>
								</table>
								</div>
								<div class="pull-right">
									<pagination total-items="total" ng-model="currentPage" ng-change="pageChanged()" items-per-page="10"></pagination>
								</div>
								<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-text">Copyright @ <a href="https://www.sensiple.com/" target="_blank">www.sensiple.com</a>. All Rights Reserved.</div>
<!-- /#page-content-wrapper -->
</div>
</div>
</div>
</div>
</div>
