<header class="header-bg">

	<nav class="navbar no-margin">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active" ><button ng-click="checkClass()" class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2" toggle-class="active"> 
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i></button></li>
			</ul>                  
		</div><!-- bs-example-navbar-collapse-1 -->
					
		<div class="navbar-header fixed-brand">
			<button type="button" ng-click="checkClass()" class="navbar-toggle collapsed pull-left" data-toggle="collapse"  id="menu-toggle">
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			</button>
			<a class="navbar-brand" href="">Contacts Repository</a>        
		</div><!-- navbar-header-->  
	</nav>
	
	<div class="login-details">
		<span><i class="fa fa-flag" aria-hidden="true"></i></span>
		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<ul class="list-unstyled pull-right">
			<li class="dropdown">
		<img src="./resources/images/user-logo.png" alt="UserLogo" title="Logo" /><span class="login-name">{{account.login}}</span>
		
				<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/changePassword">Change Password</a></li>
						<li><a href="#/logout">Logout</a></li>
					</ul>
			</li>
		</ul>
	</div>
</header>