<div class="dashboardPanel">
<div data-ng-include="'partials/navbar.html'"></div>
	<div class="wrapper" data-ng-class="myClass">
	<div data-ng-include="'partials/sidebar.html'"></div>
		<div class="page-content-wrapper">
			<ul class="breadcrumb_nav">
				<li><a href="#/home">Home</a></li>
				<li>Contact Management</li>
				<li><a href="#/upload">Upload Contacts</a></li>
			</ul>
		    <h2 class="page-title"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Contact List Uploaded Successfully!</h2>    
			<div class="upload-successful">		
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="alert alert-success">
									<p>Number of new Contacts are <span aria-hidden="true">{{uploadConact.successCount}}</span></p>
									<p>Number of Contacts to overwrite are <span aria-hidden="true">{{uploadConact.updateCount}}</span></p>
									<p>Number of error Contacts are <span aria-hidden="true">{{uploadConact.errorCount}}</span></p>
									<p data-ng-show="uploadConact.errorPath">Error Contacts File <a data-ng-click="downloadContact()">Click Here</a></p>
								</div>
								<div class="configuration">	
									<div class="row">
										<div class="col-md-12">
											<div class="text-center">
												<a href="#/upload"><button type="submit" class="btn btn-primary">Back</button></a>								
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="copyright-text navbar-fixed-bottom">Copyright @ <a href="https://www.sensiple.com/" target="_blank">www.sensiple.com</a>. All Rights Reserved.</div>
				</div>
			</footer>
		</div>
	</div>
</div>


