<div class="dashboardPanel" data-ng-controller="HomeController">
<!-- navbar -->
<div data-ng-include="'partials/navbar.html'"></div>
<div class="wrapper" data-ng-class="myClass">
<!-- Sidebar -->
<div data-ng-include="'partials/sidebar.html'"></div>
<!-- Page Content -->

<div class="page-content-wrapper">
	<ul class="breadcrumb_nav">
		<li><a href="#/home">Home</a></li>
		<li>Admin</li>
		<li>Manage Users</li>
	</ul>
    <h2 class="page-title"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</h2>
   
		<div class="adduser-page">
			<div>
				<div class="alert alert-success" data-ng-show="messages">
				<button type="button" class="close" data-ng-click="switchMessage('messages')">x</button>{{messages}}
				</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="user-table">
							<div class="panel panel-default">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-4 control-label" for="">First Name</label>
														<div class="col-md-8">
														  <input type="text" class="form-control col-md-4" id="" placeholder="First Name" data-ng-model="searchUser.firstName" >
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label" for="">Email ID</label>
														<div class="col-md-8">
														  <input type="text" class="form-control" id="" placeholder="Email ID" data-ng-model="searchUser.emailAddress" >
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Last Name</label>
														<div class="col-md-6">
														  <input type="text" class="form-control" id="" placeholder="Last Name" data-ng-model="searchUser.lastName" >
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-6 control-label" for="">Phone Number</label>
														<div class="col-md-6">
														  <input type="text" class="form-control" id="" placeholder="Phone Number" data-ng-model="searchUser.phoneNumber" >
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-horizontal">
													<div class="form-group">
														<label class="col-md-4 control-label" for="">Role</label>
														<div class="col-md-8" data-ng-init="fillRoleList()">
														  <select name="role" class="form-control"
															data-ng-model="searchUser.role" data-ng-options="roles.roleName for roles in roleList" >
															<option value="" label="Select Role">Select Role</option>
														</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button data-ng-click="pageChanged()" class="btn btn-info">Search</button>	
									<button data-ng-click="clearSearch()" class="btn btn-warning">Reset</button>
								</div>
							
						
         				
				
							<div class="add_user pull-right">
								<button type=button class="btn btn-success" data-ng-click="showForm()">Add User</button>
							</div>
							<div class="clear"></div>

  		<div>	
  		<span class="panel-title-campaign">Total Number of Users: <span class="badge">{{total}}</span></span>	
  		<div class="pull-right">
							<pagination total-items="total" ng-model="pagination.currentPage" ng-change="pageChanged()" items-per-page="10" max-size="5"  rotate="true"></pagination>
					</div>
					<div class="clear"></div>
  		<table  class="table table-bordered table-striped" >
							<thead>
								<tr>
									<th class="text-center">First Name</th>
									<th class="text-center">Last Name</th>
									<th class="text-center">E-mail</th>
									<th class="text-center">Phone Number</th>
									<th class="text-center">Role</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-show="userList.length == 0">
									<td class="text-center" colspan="6">No records Found</td>
								</tr>
								<tr data-ng-repeat="user in userList" >
									<td >{{user.firstName}}</td>
									<td >{{user.lastName}}</td>
									<td >{{user.email}}</td>
									<td >{{user.phoneNumber}}</td>
									<td>{{user.role.roleName}}</td>
									<td >
									<button type=button class="btn btn-info btn-xs" data-ng-click="showForm(user)"><i class="fa fa-pencil" aria-hidden="true"></i> 
									</button>
									<button type=button class="btn btn-danger btn-xs" data-ng-click="showConfirm($event,user)"><i class="fa fa-times" aria-hidden="true"></i> 
									</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pull-right">
							<pagination total-items="total" ng-model="pagination.currentPage" ng-change="pageChanged()" items-per-page="10" max-size="5"  rotate="true"></pagination>
					</div>
					<div class="clear"></div>
					</div>
					</div>
				</div>
			</div>
			</div>

			<div class="copyright-text">Copyright @ <a href="https://www.sensiple.com/" target="_blank">www.sensiple.com</a>. All Rights Reserved.</div>
		</div>
<!-- /#page-content-wrapper -->
</div>
</div>
</div>
